<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :trip_dates do |builder| %>
    <%= render 'trips/fields/trip_date_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Додати дату", f, :trip_dates, :trips %>
  
  <% if !@trip.trip_rules.nil? %>
    <% TripRule.all.each do |trip_rule| %>
      <%= check_box_tag 'trip[trip_rule_ids][]', trip_rule.id, @trip.trip_rules.include?(trip_rule), id: "ttr_#{trip_rule.id}" %><%= label_tag "ttr_#{trip_rule.id}", trip_rule.name %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
