<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :trip_dates do |builder| %>
    <%= render 'trips/fields/trip_date_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Додати дату", f, :trip_dates %>

  <%= f.fields_for :trip_rules do |builder| %>
    <%= render 'trips/fields/trip_rule_fields', f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
