<div class="grid_12">
  <h1>Перелік турів</h1>

  <div class="grid_12 alpha omega heading">
    <div class="grid_6 alpha">Назва туру</div>
    <div class="grid_4">Ціна</div>
    <div class="grid_2 omega">&nbsp;</div>
  </div>

  <% @trips.each do |trip| %>
    <div class="grid_12 alpha omega record">
      <div class="grid_6 alpha"><%= trip.name %></div>
      <div class="grid_4"><%= trip.description %></div>
      <div class="grid_2 omega"><%= link_to '()', trip %> <%= link_to '[=]', edit_trip_path(trip) %> <%= link_to '[X]', trip, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>

  <br />

  <%= link_to 'Створити тур', new_trip_path %>
</div>

<div class="grid_4">
  <%= render 'trip_rules_list' %>
</div>