<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= @trip.name %></h1>

<p>
  <%= @trip.description %>
</p>

<b>Оберіть дату:</b><br />
<%= render 'trips/trip_dates_select', trip_dates: @trip.trip_dates %>

<b>Правила:</b><br />
<%= render 'trips/trip_rule_accepts', rules: @trip.trip_rules %>

<%= link_to 'Редагування', edit_trip_path(@trip) %> |
<%= link_to 'Назад', trips_path %>
