<h1><%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name} #{t :user_signed, scope: :trip}" %></h1>
<% @user_trip_dates.each do |trd| %>
  <%= form_for trd, url: admin_user_trip_order_path(trd), remote: true do |f| %>

    <div id=<%= "trip-date-order-#{trd.id}" %>>
      <%= "#{trd.trip.title}: #{l(trd.trip_date.date_f)} - #{l(trd.trip_date.date_t)} = " unless trd.trip_date.nil? %> 
      <%= "#{trd.trip.title}: #{t :deleted_trip_date, scope: :trip_date} = " if trd.trip_date.nil? %> 
      <%= f.text_field :price, id: "price-field-#{trd.id}" %>
      <%= "#{t(:valute)}" %>
      <%= f.submit %> 
      <%= link_to t(:delete), user_admin_user_trip_order_path(@user, trd), method: :delete, data: {confirm: t(:sure_to_unsign_user, scope: :trip_date)} %>
        <%= f.fields_for :user_payment_trip_orders do |builder| %>
          <div class='payment_info'>
            <%= builder.label :payment_date %>
            <%= builder.text_field :payment_date %>
            <%= builder.label :amount %>
            <%= builder.text_field :amount %>
            <%= builder.hidden_field :_destroy %>
            <%= link_to "Remove payment", '#', class: 'remove_fields' %>
          </div>
        <% end %>
    </div>
  <% end %>
<% end %>