<div class="radius panel dynamic_container">
	<div class="row">
		<div class="large-3 columns">
			<%= f.label :payment_date, 'Дата' %>
			<%= f.text_field :payment_date, value: date_to_text(f.object.payment_date), class: 'carddatefield' %>
		</div>
		<div class="large-3 columns">
			<%= f.label :payment, 'Сумма' %>
			<%= f.text_field :payment, size: 10 %>
		</div>
		<div class="large-3 columns">
			<%= f.label :paying_method, 'Метод' %>
			<%= f.text_field :paying_method, size: 10 %>
		</div>
		
		<div class="large-3 columns">
			<%= f.hidden_field :_destroy %>
			<%= link_to t(:delete), '#', class: "remove_fields radius small button set-top-gap" %>
		</div>
	</div>
</div>