<div class="radius panel dynamic_container">
  <div class="row">
    <div class="large-9 columns">
    	<%= f.label :phone_number, 'Номер телефону' %>
    	<%= f.text_field :phone_number, class: "phone-field" %>
      <%= input_hint_text "Наприклад +38 (099) 999-99-99" %>
      <%= f.check_box :main %>
      <%= f.label :main, "Отримувати повідомлення", class: 'checkbox-label-inline' %>
    </div>
    <div class="large-3 columns">
      <%= f.hidden_field :_destroy %>
      <%= link_to t(:delete), '#', class: "remove_fields radius small button set-top-gap" %>
    </div>
  </div>
</div>