<fieldset>
  <legend>Особисті данні</legend>
  <p>
    <%= f.label :surname, 'Прізвище' %><br />
    <%= f.text_field :surname %>
  </p>      
  <p>
    <%= f.label :name, 'Ім\'я' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mid_name, 'По-Батькові' %><br />
    <%= f.text_field :mid_name %>
  </p>      
  <p>
    <%= f.label :birthday, 'Дата народження' %><br />
    <%= f.date_select :birthday, {order: [:day, :month, :year], start_year: Date.today.year - 70, end_year: Date.today.year - 14, use_month_names: ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'], include_blank: true} %>
  </p>      
  <p>
    <%= f.label :post_address, 'Поштова адреса для отримання повідомлень від ВГО «Адреналін», в т.ч. картки «I`m Adrenalin»' %><br />
    <%= f.text_area :post_address, cols: 40, rows: 2 %>
  </p>      
  <p>
    <%= f.label :comment, 'Коментар' %><br />
    <%= f.text_area :comment, cols: 40, rows: 2 %>
  </p>
</fieldset>