<div class="dynamic_container">
  <%= f.label :date_from %>
  <%= f.text_field :date_from, class: "datefield" %>
  <%= f.label :date_to %>
  <%= f.text_field :date_to, class: "datefield" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to 'Видалити дату', '#', class: "remove_fields remove_icon" %>
</div>