<div class="dynamic_container">
  <%= f.label :date_from %>
  <%= f.text_fields :date_from, date_to_text(f.object.date_from), class: "datepicker" %>
  <%= f.label :date_to %>
  <%= f.text_fields :date_to, date_to_text(f.object.date_to), class: "datepicker" %>
  <%= link_to 'Видалити дату', '#', class: "remove_fields remove_icon" %>
</div>