<h1><%= "#{t(:title, scope: :trip)} #{@trip.title}" %></h1>
<p><%= @trip.description %></p>
<h3><%= t :title, scope: :trip_date %></h3>

<% unless current_user.nil? %>
  <% @trip_dates.each do |trd| %>
    <%= button_to "#{trd.date_from} .. #{trd.date_to} - #{trd.price}", user_trip_orders_path(trip_id: @trip.id, trip_date_id: trd.id), data: {confirm: "#{t(:do_you_accept_rules)} \n #{@trip.rule}"} %><br />
  <% end %>
<% else %>
  <% @trip.trip_dates.each do |trd| %>
    <%= "#{trd.date_from} .. #{trd.date_to} - #{trd.price}" %>
    <%= button_to "Увійдіть або зареєструйтесь", new_user_session_path %><br />
  <% end %>
<% end %>
<h3><%= t :rule, scope: :trip %></h3>
<p><%= @trip.rule %></p>
