<fieldset>
	<p>
		<%= f.label :icq_number, 'ICQ#' %><br />
		<%= f.text_field :icq_number %>
		<%= f.label :by_icq, 'Отримувати інфо' %>
		<%= f.check_box :by_icq %>
	</p>
	<%= f.label :skype_name, 'Skype' %><br />
	<%= f.text_field :skype_name %>
	<%= f.label :by_skype, 'Получать сообщения' %>
	<%= f.check_box :by_skype %><br />
	<%= f.label :by_email, 'Получать сообщения на e-mail' %>
	<%= f.check_box :by_email %><br />
	<%= f.label :by_phone, 'Получать СМС' %>
	<%= f.check_box :by_phone %>
</fieldset>