<%= form_for @user do |f| %>
	<%= f.hidden_field(:current_page, value: @current_page) if params[:action].include?('edit') %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this town from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% admins_access do %>  
	  <div class="grid_16">
	  	<% if @user.not_revised %>
					<p class="validation-error">
						Помилки у профілі користувача:<br />
						<%= @user.error_message %>
					</p>
			<% end %>
	  </div>
	  <div class="clear"></div>
  
	  <div class="grid_16 alpha omega">
	  	<%= f.label :not_revised, 'Не підтверджені дані' %>
	  	<%= f.check_box :not_revised %>
	  </div>
	  <div class="clear"></div>
 
	  <% if !@user.user_detail.nil? %>
		  <div class="grid_16 alpha omega">
			  Користувача зареєстровано <%= @user.user_detail.registration_timestamp %>
			</div>
			<div class="clear"></div>
		<% end %>
  <% end %>

	<div class="grid_8 alpha fieldset_shadow">
		<div class="grid_8 alpha omega fieldset_outline">
			<%= f.fields_for :user_detail do |builder| %>
				<%= render 'users/fields/user_detail_fields', f: builder %>
			<% end %>
		</div>
	</div>

	<div class="grid_8 omega fieldset_shadow">
		<div class="grid_8 alpha omega fieldset_outline">
			<h2>Контактна інформація</h2>
			<div class="grid_8 alpha omega input_item">
				<div class="grid_4 alpha">
					<%= f.label :email, 'Адреса електронної скриньки' %><br />
					<%= f.email_field :email %>
				</div>
				<div class="grid_4 omega center_align">
					<%= f.fields_for :contact do |by_email| %>
						<%= by_email.check_box :by_email %>
						<%= by_email.label :by_email, 'Отримувати повідомлення' %>
					<% end %>
				</div>
			</div>
			<div class="grid_8 alpha omega input_item">
				<div class="grid_4 alpha">
					<%= f.label :password, 'Пароль' %><br />
					<%= f.password_field :password, autocomplete: :off %>
				</div>
				<div class="grid_4 omega">
					<%= f.label :password_confirmation, 'Підтвердження паролю' %><br />
					<%= f.password_field :password_confirmation, autocomplete: :off %>
				</div>
				<%= input_hint_text 'ПАРОЛЬ має містити не менше 8 символів. Якщо нехочете змінювати пароль, залишайте поля порожніми.' %>
			</div>
			<%= f.fields_for :contact do |builder| %>
				<%= render 'users/fields/contact_fields', f: builder %>
			<% end %>
			<div>
				<%= f.fields_for :phones do |phon| %>
					<%= render 'users/fields/phone_fields', f: phon %>
				<% end %>
				<%= link_to_add_fields 'Додати телефон', f, :phones %>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="grid_16 alpha omega fieldset_shadow">
		<div class="grid_16 alpha omega fieldset_outline">
			<div class="grid_16 alpha omega input_item">
				<%= f.label :town_office, raw('Найближчий до Вас осередок «Адреналіну»') %><br />
				<%= f.select :town_office_id, Town.with_office.collect{|town| [town.name, town.id]}, :selected => @user.town_office_id, include_blank: true %>
			</div>
			<% if !current_user.nil? && (current_user.role?(:super_admin_user) || current_user.role?(:region_admin_user)) %>
				<div>
					<%= f.fields_for :card_infos do |builder| %>
						<%= render 'users/fields/card_info_fields', f: builder %>
					<% end %>
				</div>
			<% end %>
			<div class="clear"></div>
			<%= admins_access { link_to_add_fields 'Додати карту', f, :card_infos } %>
		</div>
	</div>

	<% if !current_user.nil? && current_user.role?(:super_admin_user) %>
		<div class="grid_16 alpha omega fieldset_shadow">
			<div class="grid_16 alpha omega fieldset_outline">
					<h2>Права і доступи</h2>
				<div class="grid_3 alpha">
					<%= f.label :role_id, 'Права доступу' %>
					<%= f.select :role_id, Role.all.collect{ |role| [role.name, role.id]}, selected: @user.role_id %>
				</div>
				<div class="grid_13 omega">
					<% Town.with_office.each do |office| %>
						<%= check_box_tag 'user[town_ids][]', office.id, @user.towns.include?(office)  %><%= office.name %><br />
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
	<% if current_user.nil? %>
		<p>
			<%= f.check_box :accept_rule %>
			<%= f.label :accept_rule, 'Я, що заповнив анкету, Громадянин України, прошу прийняти мене до членів Всеукраїнської громадської організації «Адреналін». Мені відомо, що інформація, що буде надіслано даним повідомленням, є конфіденційною та використовуватиметься лише для заповнення документів Всеукраїнської громадської організації «Адреналін», пов\'язаних з моєю участю в ВГО «Адреналін» або в турі чи іншому заході, організованому ВГО «Адреналін». Я ознайомлений із статутом Всеукраїнської громадської організації «Адреналін» та добровільно погоджуюсь на збір наданої мною інформації, її зберігання і використання. Погоджуюсь з правилами користування карткою «I`m Adrenalin».' %>
		</p>
	<% end %>
	<%= f.submit 'Зберегти' %>
<% end %>

