<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this town from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="grid_8 alpha">
		<%= f.fields_for :user_detail do |ud| %>
			Користувач зареєстрований <%= @user.user_detail.registration_timestamp %>
			<% if @user.not_revised %>
				<p class="validation-error">
					Помилки у профілі користувача:<br />
					<%= @user.error_message %>
				</p>
			<% end %>
			<p>
				<%= ud.label :surname, 'Прізвище' %><br />
				<%= ud.text_field :surname %>
			</p>			
			<p>
				<%= ud.label :name, 'Ім\'я' %><br />
				<%= ud.text_field :name %>
			</p>
			<p>
				<%= ud.label :mid_name, 'По-Батькові' %><br />
				<%= ud.text_field :mid_name %>
			</p>			
			<p>
				<%= ud.label :birthday, 'Дата народження' %><br />
				<%= ud.date_select :birthday, {order: [:day, :month, :year], start_year: Date.today.year - 70, end_year: Date.today.year - 14, use_month_names: ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'], include_blank: true} %>
			</p>			
			<p>
				<%= ud.label :post_address, 'Поштова адреса для отримання повідомлень від ВГО «Адреналін», в т.ч. картки «I`m Adrenalin»' %><br />
				<%= ud.text_area :post_address, cols: 40, rows: 2 %>
			</p>			
			<p>
				<%= ud.label :comment, 'Коментар' %><br />
				<%= ud.text_area :comment, cols: 40, rows: 2 %>
			</p>
		<% end %>
	</div>
	<div class="grid_8 omega">
		<p>
			<%= f.label :email %><br />
			<%= f.email_field :email %>
		</p>
		<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	</div>
	<div class="clear"></div>
	<div class="grid_8 alpha">
		<p>
			<%= f.label :town_office, 'Зручне для Вас місто з офісом Адреналіну' %><br />
			<%= f.select :town_office_id, Town.with_office.collect{|town| [town.name, town.id]}, :selected => @user.town_office_id, include_blank: true %>
		</p>
		<% if !current_user.nil? && (current_user.role?(:super_admin_user) || current_user.role?(:region_admin_user)) %>
			<p>
				<%= f.fields_for :card_infos do |builder| %>
					<%= render 'card_info_fields', f: builder %>
				<% end %>
				<%= link_to_add_fields 'Додати карту', f, :card_infos %>
			</p>
		<% end %>
	</div>
	<div class="grid_8 omega">
		<%= f.fields_for :contact do |builder| %>
			<%= render 'contact_fields', f: builder %>
		<% end %>
		<%= f.fields_for :phones do |phon| %>
			<%= render 'phone_fields', f: phon %>
		<% end %>
		<%= link_to_add_fields 'Додати телефонний номер', f, :phones %>
	</div>
	<div class="clear"></div>

	<% if !current_user.nil? && current_user.role?(:super_admin_user) %>
		<div class="grid_16 alpha omega">
			<div class="grid_3 alpha">
				<%= f.label :role_id, 'Права доступу' %>
				<%= f.select :role_id, Role.all.collect{ |role| [role.name, role.id]}, selected: @user.role_id %>
			</div>
			<div class="grid_13 omega">
				<% Town.with_office.each do |office| %>
					<%= check_box_tag 'user[town_ids][]', office.id, @user.towns.include?(office)  %><%= office.name %><br />
				<% end %>
			</div>
		</div>
	<% end %>
	<%= f.submit 'Зберегти' %>
<% end %>

