<fieldset>
	<p>
		<%= f.label :payment_date, 'Дата оплаты' %><br />
		<%= f.date_select :payment_date, include_blank: true %>
	</p>
	<p>
		<%= f.label :payment, 'Сумма платежа' %><br />
		<%= f.text_field :payment %>
	</p>
	<p>
		<%= f.label :valid_until_date, 'Оплачено до' %><br />
		<%= f.date_select :valid_until_date, include_blank: true %>
	</p>
	<p>
		<%= f.label :reminder_date, 'Дата напоминания' %><br />
		<%= f.date_select :reminder_date, include_blank: true %>
	</p>
	<p>
		<%= f.label :payment_reward, 'Комиссия' %><br />
		<%= f.text_field :payment_reward %>
	</p>
	<p>
		<%= f.label :paying_method, 'Метод проплати' %><br />
		<%= f.text_field :paying_method %>
	</p>
	<%= f.hidden_field :_destroy %>
	<%= link_to 'Удалить', '#', class: "remove_fields" %>
</fieldset>