<div class="grid_16 record">
	<div class="grid_5 alpha fio">
    <% revised = user.not_revised ? 'not_revised' : 'revised' %>
    <div class=<%= revised %>></div>
		<% if !user.user_detail.nil? %>
  		<%= link_to "#{user.user_detail.surname} #{user.user_detail.name} #{user.user_detail.mid_name}", edit_user_path(user) %>
		<% else %>
			&nbsp;
		<% end %>
 	</div>
 	<div class="grid_2">
 		<%= card_number_text(user) || raw('&nbsp;') %>
 	</div>
 	<div class="grid_3">
    <% if !user.user_detail.nil? %>
   		<%= raw '&nbsp;' if user.user_detail.birthday.blank? %>
   		<%= ua_date_short(user.user_detail.birthday) %>
    <% else %>
      &nbsp;
    <% end %>
 	</div>
 	<div class="grid_3 town_office">
 		<% if !user.town_office_id.blank? %>
 			<%= Town.find(user.town_office_id).name %>
		<% else %>
      &nbsp;
    <% end %>
 	</div>
 	<div class="grid_3 omega">
 		<%= link_to '[X]', user_path(user), method: :delete, data: {confirm: "Видалити дані учасника Адреналіну?"} %>
 	</div>
 	<div class="clear"></div>
</div>