<div class="row">
  <div class="large-12 columns">
    <%= link_to '<- Назад', :back, class: 'radius small button no-bottom-gap' %>
    <%= link_to t(:show_ordered_user_trips, scope: :trip), user_admin_user_trip_orders_path(@user), class: 'radius small button' %>
    <h1>Карточка учасника <%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name}" %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= render 'form' %>
  </div>
</div>
<div class="row">
  <div class="large-6 column">
    <%= link_to "<- Назад" , :back, class: 'radius small button' %>
    <%= link_to t(:show_ordered_user_trips, scope: :trip), user_admin_user_trip_orders_path(@user), class: 'radius small button' %>
    <%= link_to '[X] Видалити', user_path(@user), class: 'radius small button', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</div>