<div class="grid_16">
  <%= link_to '<- Назад', :back, class: 'good-button' %>
	<h1>Карточка учасника <%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name}" %></h1>
</div>
<div class="clear"></div>
<div class="grid_16">
	<%= render 'form' %>
  <%= link_to t(:show_ordered_user_trips, scope: :trip), user_admin_user_trip_orders_path(@user) %>
</div>
<p><%= link_to "<- Назад" , :back, class: 'good-button' %> | <%= link_to '[X] Видалити', user_path(@user), class: 'good-button', method: :delete, data: {confirm: 'Are you sure?'} %></p>