<%= link_to 'Добавить учасника', new_user_path %>
<div class="grid_16">
  <h1>Список членів організації</h1>
</div>
<div class="clear"></div>
<div class="grid_16 heading">
  <div class="grid_5 alpha fio"><%= link_to 'Прізвище Ім\'я По-Батькові', sort: :surname %></div>
  <div class="grid_2"> № карти</div>
  <div class="grid_3"><%= link_to 'Дата народження', sort: :birthday %></div>
  <div class="grid_3"><%= link_to 'Представництво у місті', sort: :town_office %></div>
  <div class="grid_3 omega">&nbsp;</div>
  <div class="clear"></div>
</div>
<%= render @users %>
<%= will_paginate @users %>