<div class="row members-list-area">
  <div class="large-3 small-3 columns">
    <fieldset>
      <legend>Пошук</legend>
      <%= render 'filter_users' %>
    </fieldset>
  </div>
  <div class="large-9 small-12 columns">
    <h1>Список членів організації</h1>
    <div class="row heading">
      <div class="large-2 small-2 columns"><%= sortable 'reg_timestamp', 'Реєстр.' %></div>
      <div class="large-4 small-4 columns fio"><%= sortable 'surname', 'Прізвище Ім\'я По-Батькові' %></div>
      <div class="large-2 small-2 columns"> № карти</div>
      <div class="large-2 small-2 columns"><%= sortable 'birthday', 'Дата нар.' %></div>
      <div class="large-2 small-2 columns"><%= sortable 'town_office', 'Пр-ство' %></div>
    </div>
    <%= render @users %>
    <div class='row paginator-area'>
      <div class="large-12 small-12 columns">
        <div class="pagination-centered">
          <%= will_paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>