<div class="grid_5 filters">
  <h2>Пошук</h2>
  <%= render 'filter_users' %>
</div>
<div class="grid_11 content_list">
  <h1>Список членів організації</h1>
  <div class="clear"></div>
  <div class="grid_11 alpha omega heading">
    <div class="grid_5 alpha fio"><%= sortable 'surname', 'Прізвище Ім\'я По-Батькові' %></div>
    <div class="grid_1"> № карти</div>
    <div class="grid_2"><%= sortable 'birthday', 'Дата нар.' %></div>
    <div class="grid_3 omega"><%= sortable 'town_office', 'Представництво' %></div>
    <div class="clear"></div>
  </div>
  <%= render @users %>
  <div class="clear"></div>
  <div class='paginator'>
    <%= will_paginate @users, previous_label: '<- Попередні', next_label: 'Наступні ->' %>
</div>
</div>