<%= link_to 'Добавить учасника', new_user_path %>
<div class="grid_16">
  <h1>Список членів організації</h1>
</div>
<div class="clear"></div>
<div class="grid_16 heading">
  <div class="grid_5 alpha fio"><%= sortable 'surname', 'Прізвище Ім\'я По-Батькові' %></div>
  <div class="grid_2"> № карти</div>
  <div class="grid_3"><%= sortable 'birthday', 'Дата народження' %></div>
  <div class="grid_3"><%= sortable 'town_office', 'Представництво у місті' %></div>
  <div class="grid_3 omega">&nbsp;</div>
  <div class="clear"></div>
</div>
<%= render @users %>
<div class="clear"></div>
<div class='paginator'>
  <%= will_paginate @users %>
</div>