<div id="member-show-area">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Профіль <%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name}" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-12 columns">
      <h4><%= t :your_profile, scope: :profile %></h4>
      <table id="member-info">
        <tbody>
          <tr><th><%= t :registration_date, scope: :profile %></th><td><%= l @user.user_detail.registration_timestamp, format: :long %></td></tr>
          <tr><th><%= t :birthday, scope: :profile %></th><td><%= l @user.user_detail.birthday, format: :long %></td></tr>
          <tr><th><%= t :post_address, scope: :profile %></th><td><%= @user.user_detail.post_address %></td></tr>
          <tr><th><%= t :e_mail, scope: :profile %></th><td><%= @user.email %></td></tr>
          <% @user.phones.each do |phone| %>
            <tr><th><%= t :phone, scope: :profile %></th><td><%= phone.phone_number %></td></tr>
          <% end %>
          <tr><th><%= t :icq, scope: :profile %></th><td><%= @user.contact.icq_number %></td></tr>
          <tr><th><%= t :skype, scope: :profile %></th><td><%= @user.contact.skype_name %></td></tr>
        </tbody>
      </table>
      <% @user.card_infos.each do |card| %>
        <fieldset>
          <legend><%= t :number, scope: :card %>: <%= card.card_number %></legend>
          <strong><%= t :valid_until, scope: :card %>: </strong><%= card_valid_to card %><br />
          <strong><%= t :payments, scope: :card %></strong>
          <table id="card-payments">
            <tbody>
              <% card.payment_infos.each do |payment| %>
                <%= content_tag :th, l(payment.payment_date, format: :default) %>
                <%= content_tag :td, "#{payment.payment} #{t :valute}" %>
                <%= content_tag :td, payment.paying_method %>
              <% end %>
            </tbody>
          </table>
        </fieldset>
      <% end %>
    </div>

    <div class="large-6 small-12 columns">
      <fieldset>
        <legend><%= t :your_booked_trips, scope: :trip %></legend>
        <%= t :no_ordered_trips, scope: :trip if @user.user_trip_orders.nil? %>
        <% @user.user_trip_orders.each do |utd| %>
          <%= show_ordered_trips utd %>
        <% end %>

        <p><%= link_to t(:show_all, scope: :trip), user_trips_path, class: 'radius small button no-bottom-gap' %></p>
      </fieldset>
    </div>
  </div>
</div>