<h1>Профіль <%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name}" %></h1>
<div>
  <h2>Перелік доступних подорожей</h2>
  <% @trips.each do |tr| %>
    <p>
      <h4><%= tr.name %></h4>
      <ul>
        <% tr.trip_dates.each do |trd| %>
          <li><%= "#{trd.date_from} ... #{trd.date_to} = price" %>
            <%= link_to("Записатись", user_to_trip_dates_path(trip_date_id: trd, trip_id: tr), method: :post) unless @user.trip_dates.include? trd %>
            <%= link_to("Відмовитись", user_to_trip_date_path(trip_date_id: trd.id), method: :delete, data: {confirm: 'Are you sure?'}) if @user.trip_dates.include? trd %>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>
</div>
<div>
  <h2>Записаний на подорожі</h2>
  <% @user.trip_dates.each do |trd| %>
    <%= "#{trd.trip.name}  #{trd.date_from} ... #{trd.date_to} = #{trd.price}" %><br />
  <% end %>
</div>