<%= form_for [@trip, @trip_date] do |f| %>
  <p>
    <%= f.label :date_from, t(:date_from, scope: :trip_date) %>
    <%= f.text_field :date_from, class: 'datefield' %>
    
    <%= f.label :date_to, t(:date_to, scope: :trip_date) %>
    <%= f.text_field :date_to, class: 'datefield' %>

    <%= f.label :price, t(:price, scope: :trip_date) %>
    <%= f.text_field :price %>
  </p>
  <%= f.submit t(:save) %>
<% end %>